@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");

body {
  font-family: "Gemunu Libre";
  padding: 10px;
  background-color: #1b2430;
  color: #f2f5f2;
}

header {
  background-color: #ffcc00;
  width: 60vw;
  margin: 20px auto;
  padding: 20px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
}

h1 {
  margin: 5px 0px;
}

.container {
  display: flex;
}

section {
  flex-grow: 1;
  background-color: #f2f5f2;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  color: #1b2430;
}

.image{
  background-color: #a9afb0;
}

#gurka{
  text-align: center;
  margin: 50px 0;
}

/* Färger
    #F2F5F2 vit
    #A9AFB0 grå
    #FFCC00 gul
    #D53938 röd
    #1B2430 mörkblå
*/
