@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 3vh;
}

body {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin: 0.2rem;
}

p#desc, p.topSpot{
    margin-left: 0;
    margin-right: 0;
}

input {
    margin: 1vh 0;
}

#clButton {
    width: 1.5rem;
}

#stButton {
    padding: 0 0.2rem;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    margin: 0.2rem 0;
}

.topRow {
    display: flex;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.bottomRow {
    display: flex;
    align-items: center;
    margin: 1vh 0;
}

.operator {
    flex-grow: 1;
    text-align: center;
    text-align: left;
}

.type {
    flex-grow: 1;
}

.line {
    background-color: gray;
    color: white;
    padding: 0.5vh 1vh;
    border-radius: 2vh;
}

.time {
    font-weight: bold;
}