* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #eee;
    grid-template: repeat(4, 1fr) / auto auto;
    width: fit-content;
    text-align: right;
}

#search {
    grid-column-start: 1;
    grid-column-end: 3;
}