@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Alexandria';
}

section {
    padding: 2rem;
}

#originInput {
    padding: 0.5rem;
    width: 30ch;
}

#places {
    width: 30ch;
    position: absolute;
}

.place {
    background-color: #f0f0f0;
    padding: 0.5rem;
}

.place:hover {
    background-color: #e0e0e0;
}

.place .id, .place .coord {
    font-size: 0.75rem;
}